body{
  -webkit-user-select:none;
}
#paint{
  border:2px solid black;
  height:500px;
  width:500px;
  margin:0 auto;
  cursor:pointer;
}
.tools{
  display:inline-block;
  text-align:center;
  margin: 0 auto;
  width:100%;
  cursor:pointer;
}
.black{
  background-color:black;
  display:inline-block;
  color:white;
  margin:0 auto;
  width:85px;
  height:20px;
}
.red{
  background-color:red;
  text-align:center;
  width:85px;
  height:20px;
  display:inline-block;
}
.blue{
  background-color:blue;
  display:inline-block;
  margin:0 auto;
  width:85px;
  height:20px;
}
.green{
  background-color:green;
  display:inline-block;
  margin:0 auto;
  width:80px;
  height:20px;
}
.clear{
  display:inline-block;
  margin:0 auto;
  width:83px;
  height:18px;
  border:1px solid black;
}
.eraser{
  display:inline-block;
  margin:0 auto;
  width:83px;
  height:18px;
  border:1px solid black;
}
.smallPen{
  display:inline-block;
  margin:0 auto;
  width:83px;
  height:18px;
  border:1px solid black;
}
.medPen{
  display:inline-block;
  margin:0 auto;
  width:83px;
  height:18px;
  border:1px solid black;
}
.largePen{
  display:inline-block;
  margin:0 auto;
  width:83px;
  height:18px;
  border:1px solid black;
}
